@()

@import helper._

@main("Booking application", None, false) {

  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit">
          <h1><i class="icon-calendar pull-left"></i>Gérez les inscriptions à vos événements</h1>
          <p>Créez facilement des événements, laissez vos utilisateurs s'inscrire dans les places restantes.</p>
          <p>
            <a href="/login" class="btn btn-primary">
              Connectez-vous
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    
}