@(creator: User, visitor: Option[User], eventsListCreated: List[Event], usereventsListCreated: List[UserEvent], usersListCreated: List[User], userEventsListBooked: List[UserEvent], eventsListBooked: List[Event], creatorsListBooked: List[User])

@import helper._

@main("Booking", visitor, true) {

  <div class="container">
    <div class="row">
      <article>
        
          @visitor.map{ visitor2 =>
            @if(visitor2.id==creator.id) {
              <h3>Vos événements créés<small><a href="/users/@creator.id/events/add">Ajouter</a></small></h3>
            } else {
              <h3>Evénements de @creator.prename @creator.lastname</h3>
            }
          }.getOrElse{
            <h3>Evénements</h3>
            <a href="/login">Login</a>
          }
        
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Places</th>
                <th>Places restantes</th>
                <th>Description</th>
                @{visitor.map{visitor =>
                  if(creator.id==visitor.id){
                  <th>Inscrits</th>
                  <th></th>
                  } else {
                    <th>Status</th>
                  }
                }.getOrElse(<th>Status</th>)}
                <th></th>
              </tr>
            </thead>
            <tbody>
              @eventsListCreated.map{event =>
                <tr>
                  <td>@event.date</td>
                  <td>@event.name</td>
                  <td>@event.nbrePlaces</td>
                  <td>
                    @{event.nbrePlaces.toInt - usereventsListCreated.filter{ e => 
                      e.eventId == event.id
                    }.length}
                  </td>
                  <td>@event.description</td>
                  @{visitor.map{visitor =>
                    if(creator.id==visitor.id){
                      <td>
                        {usereventsListCreated.filter{ e =>
                          e.eventId == event.id
                        }.map { userEvent =>
                          usersListCreated.filter { user =>
                            userEvent.userId == user.id
                          }.map { user =>
                            user.prename ++ " " ++ user.lastname ++ " " ++ user.email ++ " " ++ user.phone
                          }
                        }}
                      </td>
                      <td><a href={"/users/" + creator.id + "/events/" + event.id + "/edit"} >Modifier</a></td>
                      <td><a href="" class="deleteEvent" data-eid={event.id} data-uid={creator.id}>Delete</a></td>
                    } else {
                      if(usereventsListCreated.filter { e =>
                        e.eventId == event.id && e.userId == visitor.id}.length > 0) {
                            <td><span class="label label-success">Inscrit</span></td>
                            <td><a href="" class="unBookEvent" name={event.id}>Se désinscrire</a></td>
                          } else {
                            <td><span class="label">Non inscrit</span></td>
                            <td><a href="" class="bookEvent" name={event.id}>Inscription</a></td>
                          }
                      }
                  }.getOrElse(
                    <td><span class="label label-success">non inscrit</span></td>
                    <td><a href="" class="bookEvent" name={event.id}>Inscription</a></td>
                  )}
                </tr>
              }
            </tbody>
          </table>
        </div>
        

        @visitor.map{visitor =>
          <h3>Evénements auxquels vous êtes inscrit</h3>
          <div class="row-fluid">
            <div class="span12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Organisateur</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @{eventsListBooked.map { event =>
                    <tr>
                      <td>{event.date}</td>
                      <td>{event.name}</td>
                      <td>{event.description}</td>
                      <td>{
                        creatorsListBooked.filter{ user =>
                          event.creatorId == user.id
                        }.map {user => 
                          <a href={"/users/" + user.id}>{user.prename + " " + user.lastname}</a>}
                      }</td>
                      <td><a href="" class="unBookEvent" name={event.id}>Se désinscrire</a></td>
                    </tr>
                  }}
                </tbody>
              </table>
            </div>
          </div>
        }.getOrElse("")
        @*<h3>Evénements auxquels vous êtes inscrit</h3>
        <div class="row-fluid">
          <div class="span12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Organisateur</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @{eventsListBooked.map { event =>
                  <tr>
                    <td>{event.date}</td>
                    <td>{event.name}</td>
                    <td>{event.description}</td>
                    <td>{
                      creatorsListBooked.filter{ user =>
                        event.creatorId == user.id
                      }.map {user => 
                        <a href={"/users/" + user.id}>{user.prename + " " + user.lastname}</a>}
                    }</td>
                    <td><a href="" class="unBookEvent" name={event.id}>Se désinscrire</a></td>
                  </tr>
                }}
              </tbody>
            </table>
          </div>
        </div>*@
      </article>
    </div>
  </div>

  <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    
}